* { box-sizing: border-box; }
html { font-size: 62.5%; height: 100%; }
body {
	background: #f9f9f9;
	color: #2e3d48;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	margin: 1.6rem;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	-ms-text-size-adjust: 100%;
}
.container { margin: 0 auto; max-width: 810px; padding: 0 1rem; }